@import "tailwindcss";

@theme {
  --font-heading: "Manrope", sans-serif;
  --color-light-gray: #ebebeb;
  --color-dark-pink: #dc1e52;

  --color-light-gray: #eeeeee;
  --color-light-gray-1: #ebebeb;
  --color-white: #ffffff;
  --color-white-1: #f2f2f2;
  --color-white-2: #f7f7f7;
}
